<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      リダイレクト -- Redirect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Web開発の方法上、新ページにリダイレクトさせざるを得ない状況になりました。ご迷惑おかけしてすみません。3秒後にリダイレクトされます。リダイレクトされない場合は、下記URLをクリックしてください。</p><br>
    <p>Due to the method of web development, we have no choice but to redirect to a new page. We apologize for the inconvenience. You will be redirected after 3 seconds. If you are not redirected, please click the URL below.</p><br>
    <p>Aufgrund der Methode der Webentwicklung haben wir keine andere Wahl, als auf eine neue Seite umzuleiten. Wir entschuldigen uns für die Unannehmlichkeiten. Sie werden nach 3 Sekunden weitergeleitet. Wenn Sie nicht weitergeleitet werden, klicken Sie bitte auf die unten stehende URL.</p><br>
    <p>由于Web开发的方法，我们别无选择，只能重定向到新页面。 我们对不便表示抱歉。 您将在 3 秒后被重定向。 如果您没有被重定向，请单击下面的 URL。</p><br>
    <a href="https://www.montsp.me/">New Page</a>

   </div>
</ion-content>
